<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="donate.css">
</head>
<body>
  <div class="background-img">
    <div class="donate-desc">
        <p class="donateText">
        <h1 class="donate-heading">DONATE</h1>
        <h4 class="donate-sub-heading"> Make a difference.</h4>
        </p>
        <button class="donate-button" onclick="scrollToDiv()">Donate Now!</button>
    </div>

</div>

<p class="donate-cause-title">
    OUR CAUSES
</p>
<div class="donate-cause-container">
    <div class="donate-cause-card-one">
        <p class="donate-cause-card-title">Mental Health Awareness</p>
        <p class="donate-cause-card-desc">Donations support the development and dissemination of educational materials,
            workshops, seminars, and campaigns aimed at promoting mental health literacy and understanding.</p>

    </div>
    <div class="donate-cause-card-two">
        <p class="donate-cause-card-title"> Services for people in Crisis</p>
        <p class="donate-cause-card-desc">Donations support the development and dissemination of educational materials,
            workshops, seminars, and campaigns aimed at promoting mental health literacy and understanding.</p>
    </div>
    <div class="donate-cause-card-three">
        <p class="donate-cause-card-title">Access to Mental Health Care </p>
        <p class="donate-cause-card-desc">
        <p class="donate-cause-card-desc">Donations support the development and dissemination of educational materials,
            workshops, seminars, and campaigns aimed at promoting mental health literacy and understanding.</p>
        </p>
    </div>
</div>
<div class="donate-payment-container">
    <div class="donate-payment">
        <div class="donate-top">
            <p class="donate-text">CHOOSE A MONTHLY PAYMENT!</p>
        </div>
        <div class="donate-money-container one">
            <button class="donate-payy">₹200</button>
            <button class="donate-payy">₹300</button>
            <button class="donate-payy">₹400</button>
           
        </div>
        <div class="donate-money-container two">
            <button class="donate-payy">₹500</button>
            <button class="donate-payy">₹1000</button>
            <button class="donate-payy">₹2000</button>
        </div>
        <p class="donate-show">
            Your Gift Amount:
        </p>
        <h1 class="onclick-show">
         hh 
        </h1>
       <button class="confirm">CONFIRNM PAYMENT</button>
    </div>
</div>
</body>
</html>




<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <div class="container py-3">  
        <main>
          <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
            <div class="col">
              <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                  <h4 class="my-0 fw-normal">Free</h4>
                </div>
                <div class="card-body">
                  <h1 class="card-title pricing-card-title">$0<small class="text-body-secondary fw-light">/mo</small></h1>
                  <ul class="list-unstyled mt-3 mb-4">
                    <li>10 users included</li>
                    <li>2 GB of storage</li>
                    <li>Email support</li>
                    <li>Help center access</li>
                  </ul>
                  <button type="button" class="w-100 btn btn-lg btn-outline-primary">Sign up for free</button>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                  <h4 class="my-0 fw-normal">Pro</h4>
                </div>
                <div class="card-body">
                  <h1 class="card-title pricing-card-title">$15<small class="text-body-secondary fw-light">/mo</small></h1>
                  <ul class="list-unstyled mt-3 mb-4">
                    <li>20 users included</li>
                    <li>10 GB of storage</li>
                    <li>Priority email support</li>
                    <li>Help center access</li>
                  </ul>
                  <button type="button" class="w-100 btn btn-lg btn-primary">Get started</button>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card mb-4 rounded-3 shadow-sm border-primary">
                <div class="card-header py-3 text-bg-primary border-primary">
                  <h4 class="my-0 fw-normal">Enterprise</h4>
                </div>
                <div class="card-body">
                  <h1 class="card-title pricing-card-title">$29<small class="text-body-secondary fw-light">/mo</small></h1>
                  <ul class="list-unstyled mt-3 mb-4">
                    <li>30 users included</li>
                    <li>15 GB of storage</li>
                    <li>Phone and email support</li>
                    <li>Help center access</li>
                  </ul>
                  <button type="button" class="w-100 btn btn-lg btn-primary">Contact us</button>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
</body>
</html> -->